<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.istanbulhousing.bot</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/envs/pyspark_env/bin/python</string>
        <string>/Users/rukiyeerdogan/GitHub/istanbul-housing-market-analytics-pipeline/03_scripts/run_pipeline.py</string>
    </array>

    <key>StartInterval</key>
    <integer>172800</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/istanbul_bot.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/istanbul_bot_error.log</string>

</dict>
</plist>

