.DS_Store

# Data files
data/*.csv
data/*.db

# Jupyter
notebooks/.ipynb_checkpoints/
# notebooks/*.ipynb
# Optional: ignore notebooks entirely
# notebooks/*.ipynb
__pycache__/
*.pyc
.env
venv/
logs/
*.log.env
*.db
